[submodule "dep/libaeon"]
	path = dep/libaeon
	url = ../../aeon/libaeon.git
    branch = master
[submodule "dep/cmake"]
	path = dep/cmake
	url = ../../aeon/cmake_scripts.git
    branch = master
[submodule "dep/glfw"]
	path = dep/glfw
	url = ../../libraries/glfw.git
	branch = submodule
[submodule "dep/glew"]
	path = dep/glew
	url = ../../libraries/glew.git
	branch = submodule
[submodule "dep/glm"]
	path = dep/glm
	url = ../../libraries/glm.git
	branch = submodule
[submodule "dep/zlib"]
	path = dep/zlib
	url = ../../libraries/zlib.git
	branch = submodule
[submodule "dep/png"]
	path = dep/png
	url = ../../libraries/png.git
	branch = submodule
[submodule "dep/googletest"]
	path = dep/googletest
	url = ../../libraries/googletest.git
	branch = submodule
[submodule "dep/openal_soft"]
	path = dep/openal_soft
	url = ../../libraries/openal_soft.git
	branch = submodule
[submodule "dep/libogg"]
	path = dep/libogg
	url = ../../libraries/libogg.git
	branch = submodule
[submodule "dep/libvorbis"]
	path = dep/libvorbis
	url = ../../libraries/libvorbis.git
	branch = submodule
[submodule "dep/freetype2"]
	path = dep/freetype2
	url = ../../libraries/freetype2.git
	branch = submodule
[submodule "dep/std_asio"]
	path = dep/std_asio
	url = ../../libraries/std_asio.git
	branch = submodule
[submodule "dep/assimp"]
	path = dep/assimp
	url = ../../libraries/assimp.git
	branch = submodule
[submodule "dep/libtga"]
	path = dep/libtga
	url = ../../libraries/libtga.git
	branch = submodule
