# Common
*.log
.clang-format
bin/imgui.ini
build_deploy

# OSX
.DS_Store
._.DS_Store
xcode_build

# Vim
*.swp

# Unix
build

# Windows
vs_build
opengl32.dll
.vs

# Clion
.idea
