[submodule "dep/libaeon"]
	path = dep/libaeon
	url = ../../aeon-engine/libaeon.git
    branch = master
[submodule "dep/cmake"]
	path = dep/cmake
	url = ../../aeon-engine/libaeon-cmake.git
    branch = master
[submodule "dep/glfw"]
	path = dep/glfw
	url = ../../aeon-external-dependencies/glfw.git
	branch = submodule
[submodule "dep/glew"]
	path = dep/glew
	url = ../../aeon-external-dependencies/glew.git
	branch = submodule
[submodule "dep/zlib"]
	path = dep/zlib
	url = ../../aeon-external-dependencies/zlib.git
	branch = submodule
[submodule "dep/png"]
	path = dep/png
	url = ../../aeon-external-dependencies/libpng.git
	branch = submodule
[submodule "dep/googletest"]
	path = dep/googletest
	url = ../../aeon-external-dependencies/googletest.git
	branch = submodule
[submodule "dep/assimp"]
	path = dep/assimp
	url = ../../aeon-external-dependencies/assimp.git
	branch = submodule
[submodule "dep/json11"]
	path = dep/json11
	url = ../../aeon-external-dependencies/json11.git
	branch = submodule
[submodule "dep/google_benchmark"]
	path = dep/google_benchmark
	url = ../../aeon-external-dependencies/google_benchmark.git
	branch = submodule
[submodule "dep/libjpeg_turbo"]
	path = dep/libjpeg_turbo
	url = ../../aeon-external-dependencies/libjpeg_turbo
	branch = submodule
[submodule "dep/freetype2"]
	path = dep/freetype2
	url = ../../aeon-external-dependencies/freetype2.git
	branch = submodule
