# OSX
.DS_Store

# Vim
*.swp

# Cmake
CMakeFiles/
cmake_install.cmake

# Infra
external_dependencies*/

# Linux
Makefile
*.a
docs

# CLion
.idea

# Build folders
vs_build/
build/
cmake-build-*/

# Visual Studio
.vs/
.vscode/

# BeyondCompare merge
*.orig

*.tmp
*.TMP
