[submodule "dep/libaeon"]
	path = dep/libaeon
	url = ../libaeon.git
    branch = master
[submodule "dep/cmake"]
	path = dep/cmake
	url = ../libaeon-cmake.git
    branch = master
[submodule "dep/glfw"]
	path = dep/glfw
	url = ../glfw.git
	branch = submodule
[submodule "dep/glew"]
	path = dep/glew
	url = ../glew.git
	branch = submodule
[submodule "dep/glm"]
	path = dep/glm
	url = ../glm.git
	branch = submodule
[submodule "dep/zlib"]
	path = dep/zlib
	url = ../zlib.git
	branch = submodule
[submodule "dep/png"]
	path = dep/png
	url = ../libpng.git
	branch = submodule
[submodule "dep/googletest"]
	path = dep/googletest
	url = ../googletest.git
	branch = submodule
[submodule "dep/assimp"]
	path = dep/assimp
	url = ../assimp.git
	branch = submodule
[submodule "dep/json11"]
	path = dep/json11
	url = ../json11.git
	branch = submodule
[submodule "dep/sdl"]
	path = dep/sdl
	url = ../sdl.git
	branch = submodule
